{{yield}}

<p>Nome: {{pessoa.nome}} - {{pessoa.sobrenome}}</p><br>

{{#if pessoa.nascidoEm}}
<p>Aniversário: {{formata-data pessoa.nascidoEm}}</p><br>
{{/if}}

<p>Telefones:</p>
{{#each pessoa.telefones as |telefone|}}
<p>({{telefone.prefixo}}) {{telefone.numero}}</p>
{{/each}}
